<!DOCTYPE html>
<html>
    <meta charset="utf-8"/>

    <head>
    <title>Text annotator</title>
    <link rel="icon" href="data:,">
    </head>

    <style>
        /* Disable text selection because it's annoying when dragging. */
        body{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

    </style>

    <body>
        <p>Instructions: Left click to mark "keep" and right click to mark "don't keep". Dragging works.</p>
        <p id="stats">stats</p>
        <p id="current_doc">(no document loaded)</p>
        
        <button type="button" onclick="nextfile()">Save and load next</button>
        
        <div id="annotate_zone">
            (click the button)
        </div>
    </body>


    <script>
        var isHighlighting = false;
        var isDragging = false;
        var paragraphs = [];
        var currentIndex = 0;
        var currentDocumentIndex = -1;
        var lastMouseY = 0;

        let COLOR_GOOD = "rgb(0, 153, 51)";
        let COLOR_GOOD_TEMP = "rgb(0, 179, 60)";
        let COLOR_BAD = "rgb(255, 133, 102)";
        let COLOR_BAD_TEMP = "rgb(255, 173, 153)";

        // What a hack.
        let documents = [
        {% for u in unannotated %}
            "{{ u }}",
        {% endfor %}
        ];

        function updateStats(done_count) {
            var p = document.getElementById('stats');
            p.innerHTML = "Annotated " + done_count + "/" + documents.length + " documents so far.";
        };

        function saveCurrentDocument() {
            console.log("saving");
            var lines = [documents[currentDocumentIndex]];
            paragraphs.forEach(function(p) {
                var text = p.textContent;
                if(p.style.backgroundColor == COLOR_GOOD) {
                    text = "x " + text;
                }
                else {
                    text = "  " + text;
                }
                lines.push(text);
            });


            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/save", true);
            xhr.setRequestHeader('Content-Type', 'text/plain');
            xhr.send(lines.join("\n"));
            console.log(lines.join("\n"));

            console.log("don savign");
        };

        function loadDocument(index) {
            console.log("loading document no " + index);
            var curr = document.getElementById('current_doc');
            curr.innerHTML = "Loading " + documents[index];

            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() { 
                var zone = document.getElementById('annotate_zone');
                zone.innerHTML = "";
                paragraphs = [];
                var curr = document.getElementById('current_doc');

                if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
                    xmlHttp.responseText.split('\n').forEach(function(line) {
                        let p = document.createElement('p');
                        p.textContent = line;
                        p.style.padding = 0;
                        p.style.margin = 0;
                        p.style.backgroundColor = COLOR_BAD;
                        zone.appendChild(p);
                        paragraphs.push(p);
                        curr.innerHTML = "Working on " + documents[index];
                    });
                }
                else {
                    curr.innerHTML = "(no document loaded)";
                    if(index >= documents.length) {
                        zone.textContent = "All done!";
                    }
                    else {
                        zone.textContent = "Error loading document '" + documents[index] + "' (this shouldn't happen?)";
                    }
                }
            }
            xmlHttp.open("GET", documents[index], true); // true for asynchronous 
            xmlHttp.send(null);
        };

        function nextfile() {
            if(currentDocumentIndex >= documents.length) {
                return;
            }

            if(currentDocumentIndex >= 0) {
                saveCurrentDocument();
            }
            currentDocumentIndex += 1;
            updateStats(currentDocumentIndex);
            loadDocument(currentDocumentIndex);
        };
        
        window.onload = function() {
            updateStats(0);
        };

        window.addEventListener('mousedown', function(e) {
            //console.log("window mousedown", e);

            // Don't do anything if we're clicking outside the highlight zone.
            if(paragraphs.length == 0
                || e.y < paragraphs[0].getBoundingClientRect().top
                || e.y > paragraphs[paragraphs.length-1].getBoundingClientRect().bottom)
            {
                return;
            }

            isDragging = true;
            lastMouseY = e.y;

            currentIndex = 0;
            for(var i = 0; i < paragraphs.length; i++) {
                if(e.y < paragraphs[i].getBoundingClientRect().y) {
                    break;
                }
                currentIndex = i;
            }

            // isHighlighting = paragraphs[currentIndex].style.backgroundColor != COLOR_GOOD;
            isHighlighting = e.buttons == 1;
            if(isHighlighting) {
                paragraphs[currentIndex].style.backgroundColor = COLOR_GOOD_TEMP;
            }
            else {
                paragraphs[currentIndex].style.backgroundColor = COLOR_BAD_TEMP;
            }
        });

        window.addEventListener('mouseup', function(e) {
            isDragging = false;
            paragraphs.forEach(function(p) {
                if(p.style.backgroundColor == COLOR_BAD_TEMP) {
                    p.style.backgroundColor = COLOR_BAD;
                }
                else if(p.style.backgroundColor == COLOR_GOOD_TEMP) {
                    p.style.backgroundColor = COLOR_GOOD;
                }
            });
        });

        window.addEventListener('mousemove', function(e) {
            if(isDragging) {
                var color = COLOR_BAD_TEMP;
                if(isHighlighting) {
                    color = COLOR_GOOD_TEMP;
                }

                // Color all lines to the cursor (we can cross many lines in one event)
                while(e.y < paragraphs[currentIndex].getBoundingClientRect().top
                    || e.y > paragraphs[currentIndex].getBoundingClientRect().bottom)
                {
                    if(currentIndex-1 >= 0 && e.y < paragraphs[currentIndex-1].getBoundingClientRect().bottom) {
                        currentIndex = currentIndex-1;
                    }
                    if(currentIndex+1 < paragraphs.length && e.y > paragraphs[currentIndex+1].getBoundingClientRect().top) {
                        currentIndex = currentIndex+1;
                    }
                    paragraphs[currentIndex].style.backgroundColor = color;

                    // Stop coloring if we reach the end
                    if(currentIndex == 0 || currentIndex == paragraphs.length-1) {
                        break;
                    }
                }
            }
        });

        // Prevent right click menu because it's in the way.
        window.addEventListener('contextmenu', function(e) {
             if(event.preventDefault != undefined)
                  event.preventDefault();
             if(event.stopPropagation != undefined)
                  event.stopPropagation();
            return false;
        });
    </script>

</html>
